.tours__container {
  margin-top: 20px;
}

.tours__nav {
  display: none;

  @media (width >= 768px) {
    display: block;
    position: absolute;
    top: 12%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 10;
    pointer-events: none;
  }
}

.tours__button-prev,
.tours__button-next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 37px;
  height: 35px;
  background: $accent;
  border: none;
  box-shadow: 0 2px 10px rgb(0, 0, 0, 0.1);
  cursor: pointer;
  pointer-events: auto;

  &::after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #000000;
    mask-repeat: no-repeat;
    mask-size: contain;
    margin: 0 auto;
  }

  &:hover {
    background: #f5f5f5;
  }

  .tours.swiper-button-disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}

.tours__button-prev {
  left: 10px;

  &::after {
    mask-image: url("/__spritemap#sprite-arrow-left-view");
  }
}

.tours__button-next {
  right: 10px;

  &::after {
    mask-image: url("/__spritemap#sprite-arrow-right-view");
  }
}

.tours__title {
  margin: 0;
  padding: 0;
  text-align: start;
  margin-top: 36px;
  margin-bottom: 38px;
  padding-left: 15px;
  font-weight: 800;
  font-size: 22px;
  line-height: 26px;
  color: $primary;
}

.tours__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.tours__item {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.tours__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;

  background: #ffffff;

  padding: 0 20px 30px;
  box-shadow: 0 4px 15px rgb(0, 0, 0, 0.1);


  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 290px;
  height: 416px;

  color: #ffffff;
  overflow: hidden;
}

.tours__card-first {
  background-image: url("/img/images-tours/tours-card-1-mobile@2x.jpg");
}

.tours__card-second {
  background-image: url("/img/images-tours/tours-card-2-mobile@2x.jpg");
}

.tours__card-third {
  background-image: url("/img/images-tours/tours-card-3-mobile@2x.jpg");
}

.tours__card-fourth {
  background-image: url("/img/images-tours/tours-card-4-mobile@2x.jpg");
}

.tours__card-header {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  padding-bottom: 15px;
  position: relative;
}

.tours__card-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 2px;
  background-color: #ffffff;
  opacity: 0.2;
}

.tours__region-marker {
  display: inline-flex;
  align-items: center;
  background: $accent;
  color: $white;
  padding: 8px 12px 8px 34px;
  position: relative;
  margin-right: 5px;
}

/* Иконка маркера для региона */
.tours__region-marker::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-color: currentColor;
  mask-image: url("/__spritemap#sprite-pin_filled-view");
  mask-repeat: no-repeat;
  mask-size: contain;
}

.tours__card-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.tours__duration {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 12px;
}


.tours__time {
  display: flex;
  align-items: center;
}

.tours__time > span:last-child {
  margin-left: 15px;
}

.tours__time-fourth > span:last-child {
  margin-left: 12px;
}

.tours__duration > span:last-child {
  margin-left: 15px;
}

.tours__days,
.tours__nights {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
}

/* Иконка солнца для дней */
.tours__days::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: currentColor;
  mask: url("/__spritemap#sprite-sun-view");
  mask-repeat: no-repeat;
  mask-size: contain;
  flex-shrink: 0;
}

/* Иконка луны для ночей */
.tours__nights::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: currentColor;
  mask-image: url("/__spritemap#sprite-moon-view");
  mask-repeat: no-repeat;
  mask-size: contain;
  flex-shrink: 0;
}

.tours__meta {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.tours__meta-second,
.tours__meta-third,
.tours__meta-fourth {
  gap: 6px;
}

.tours__difficulty {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
}

.tours__stars {
  display: flex;
  align-items: end;
  margin-top: 4px;
}

/* Стили для звезд */
.tours__star {
  width: 17px;
  height: 16px;
  position: relative;
  bottom: -2px;
}

.tours__star--filled::before {
  content: "★";
  color: #ffffff;
  font-size: 16px;
}

.tours__star--empty::before {
  content: "☆";
  color: #ffffff;
  font-size: 16px;
}

.tours__info {
  display: flex;
  align-items: end;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  gap: 8px;
}

.tours__dates,
.tours__group {
  display: block;
}

.tours__dates span,
.tours__group span {
  display: block;
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;
  margin-top: 7px;
}

// Слайдер-------------------------------------------------

.tours__slide {
  width: 290px;
}

.tours__link-all {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 8px;
  margin: 25px auto 0;
  padding: 10px 10px 10px 14px;
  width: 221px;
  color: $black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.04em;

  &::after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: currentColor;
    mask-image: url("/__spritemap#sprite-arrow-right-view");
    mask-repeat: no-repeat;
    mask-size: contain;
    flex-shrink: 0;
    right: 0;
  }

  &:hover {
    opacity: 0.8;
  }
}
