@mixin font-face($font-family, $font-weight, $font-style, $font-src...) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: $font-src;
    font-display: swap;
  }
}


$primary: #2d383f;
$accent: #0266c1;
$white: #ffffff;
$black: #000000;
$card-gradient: #000000;
$slider-gradient: #0f1429;


// Миксины для градиентов

// Для большого слайдера
@mixin gradient-slider($direction: to right) {
  background:
    linear-gradient($direction,
    #0f1429 0%,
    #0f1429 100%
  );
}

// Для карточек туров
@mixin gradient-card($direction: to bottom) {
  background:
    linear-gradient($direction,
    #000000 62%,
    rgb(0, 0, 0, 0) 100%
  );
}
